html #root {
  .section.contact {
    margin-bottom: 250px;
    @media screen and (max-width: 1024px) {
      margin-bottom: 100px;
    }
    p {
      &:nth-child(1) {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 24px;
      }
    }
    .button {
      font-size: 24px;
      text-transform: uppercase;
      text-decoration: none;
      color: black;
      font-weight: 700;
      .icon {
        padding: 4px 10px;
        margin-left: 10px;
        &:before {
          vertical-align: inherit;
        }
      }
    }
    .col-5 {
      position: relative;
      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }
    .image-container {
      height: 300px;
      padding: 40px;
      position: absolute;
      right: 0;
      z-index: 1;

      @media screen and (max-width: 1024px) {
        position: relative;
        margin-top: 20px;
      }
      @media screen and (max-width: 767px) {
        height: auto;
        padding: 10px;
      }
      @media screen and (max-width: 480px) {
        max-width: max-content;
      }

      img {
        min-width: auto;
        max-width: inherit;
        height: 300px;
        width: auto;
        display: block;
        margin: 0 auto;
        @media screen and (max-width: 1024px) {
          min-width: auto;
          max-width: inherit;
          margin: 0;
        }

        @media screen and (max-width: 480px) {
          height: 200px;
        }
      }
    }
    strong {
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}