html #root {
  .section.header {
    position: relative;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    h1{
      @media screen and (max-width: 1024px) {
        font-size: 80px;
        letter-spacing: 20px;
      }
      @media screen and (max-width: 767px) {
        font-size: 60px;
        letter-spacing: 15px;
      }
      @media screen and (max-width: 479px) {
        font-size: 35px;
      }
    }
    strong{
      font-family: $title-family;
      font-size: 100px;
      letter-spacing: 30px;
      @media screen and (max-width: 767px) {
        font-size: 60px;
        letter-spacing: 15px;
      }
      @media screen and (max-width: 479px) {
        font-size: 35px;
      }
    }
    &:before{
      content: '';
      width: 100%;
      height: 250px;
      position: absolute;
      background: white;
      left: 0;
      right: 0;
      opacity: 0.6;
    }
  }
}