html #root {
  .section.recipe-images {
    margin-top: 100px;

    .row {
      @media screen and (max-width: 1024px) {
        background-color: white;
      }
      @media screen and (max-width: 768px) {
        padding: 20px 40px;
      }
    }

    .col-4 {
      @media screen and (max-width: 768px) {
        min-width: 100%;
        max-width: 100%;
        margin: 20px 0;
      }
    }
    img {
      padding: 20px;
      background: white;
      @media screen and (max-width: 1024px) {
        background-color: transparent;
      }
      @media screen and (max-width: 768px) {
        width: 350px;
        min-width: auto;
        margin: 0 auto;
        display: block;
        padding: 0;
      }
    }
  }
}