html #root {

  .section.quote {
    blockquote {
      font-family: $title-family;
      letter-spacing: 10px;
      line-height: 2;
      font-size: 50px;
      min-width: calc(100% / 3 * 2);
      max-width: calc(100% / 3 * 2);
      @media screen and (max-width: 1024px) {
        letter-spacing: 5px;
        min-width: 100%;
        max-width: 100%;
        font-size: 40px;
      }

      @media screen and (max-width: 479px) {
        font-size: 24px;
      }

      &:before, &:after {
        content: '“';
        font-size: 50px;
        line-height: 1;

      }
      &:after {
        content: '“';
      }
    }
  }
  .section.text {

    &.intro {
      text-align: center;
      .container {
        padding-bottom: 20px;
      }
    }
    &.recipe {
      img {
        position: relative;
        margin: auto;
        transform: translateY(25%);
        @media screen and (max-width: 1024px) {
          transform: none;
          margin: 0 auto;
        }
      }
      .shadow {
        width: 500px;
        height: 150px;
        transform: none;
        margin-top: 50px;
        @media screen and (max-width: 1024px) {
          width: 380px;
          //height: 150px;
        }
      }
    }
    &.image {
      margin-bottom: 200px;
      @media screen and (max-width: 1024px) {
        margin-bottom: 100px;
      }
      h2 {
        text-align: left;
        margin-bottom: 50px;
        @media screen and (max-width: 768px) {
          margin-bottom: 20px;
        }
      }
    }
    &.quote {
      h2 {
        margin-bottom: 50px;
        text-align: left;
        font-family: $title-family;
        letter-spacing: 10px;
        line-height: 2;

        @media screen and (max-width: 1140px) {
          font-size: 22px;
        }

        @media screen and (max-width: 768px) {
          margin-bottom: 20px;
          letter-spacing: 2px;
          line-height: 1.5;
        }

        &:before, &:after {
          content: '“';
          font-size: 32px;
          line-height: 1;
        }
        &:after {
          content: '“';
        }
      }
    }
    .image {
      margin-bottom: 150px;
      .container {
        padding: 0 10%;
      }
      .col-5 {
        display: flex;
        flex-wrap: wrap;
        @media screen and (max-width: 1024px) {
          min-width: 100%;
          width: 100%;
          padding: 0;
          max-width: 100%;
        }
        img {
          margin: auto 0 0 0;
        }
      }
      .col-7 {
        padding: 80px 0;
      }
    }

    .row {
      position: relative;
    }
    img, p, h2 {
      position: relative;
      z-index: 99;
    }
    .col-5 {
      position: relative;
    }
    img {
      position: absolute;
      width: auto;
      display: block;
      margin: 0 0 0 auto;
      height: 350px;
      min-width: inherit;
      transform: translateY(50%);
      //padding: 80px 40px 80px 0;
    }

    .shadow {
      position: absolute;
      width: 350px;
      height: 350px;
      top: 0;
      transform: translate(20%, 70%);
      z-index: 1;
      @media screen and (max-width: 1024px) {
        width: 300px;
        height: 300px;
      }
    }
  }

}
