html #root {
  .footer {
    margin-top: 120px;
    .container {
      padding: 0;
      position: relative;
      @media screen and (max-width: 768px) {
        display: flex;
        flex-wrap: wrap;
      }

      .row {
        margin: 0;
        width: 100%;
      }
    }
    .menu, .contact {
      padding: 10px 10px 10px 0;
      @media screen and (max-width: 768px) {
        min-width: 100%;
        max-width: 100%;
      }
    }
    .contact {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      @media screen and (max-width: 768px) {
        position: relative;
      }
      &.two-fifth {
        min-width: calc(100% / 5 * 2 + 100px);
        max-width: calc(100% / 5 * 2 + 100px);
        transform: translateY(-20%);
        @media screen and (max-width: 768px) {
          min-width: 100%;
          max-width: 100%;
          transform: none;
          order: -1;
        }
      }
    }
    .heading {
      background-color: white;
      max-width: inherit;
      padding: 5px 30px;
    }
    h3 {
      padding: 10px 0;
      text-align: start;
      line-height: 1;
      font-size: 28px;
      text-transform: capitalize;
      margin: 0;
      font-family: $title-family;

    }
    .main-menu-container {
      padding-left: 30px;
      margin: 30px 0;
      .menu-item {
        margin: 20px 0;
        display: block;
        font-size: 18px;
        letter-spacing: 5px;

        .about:before {
          vertical-align: text-top;
        }
        .item {
          margin-left: 20px;
        }
      }
    }
  }
  .socket {
    .container {
      padding: 15px 30px;
      margin: 0;
      width: 100%;
      @media screen and (max-width: 768px) {
        padding: 10px;
      }
      p {
        font-size: 12px;
        letter-spacing: 3px;
        @media screen and (max-width: 768px) {
          font-size: 8px;
          letter-spacing: 0;
        }
      }
    }
  }
}