html #root {
  header#header {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 999;
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, .1);
    .container {
      padding: 20px 10%;
      max-width: 100%;
      .menu-item{
        margin: 0 10px;
      }
      .col-11 {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
      }
    }

  }
}